<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css" />
    <title>Works</title>
</head>
<body>
    <div id="main">
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a class="active" href="/works">Works</a></li>
                <li><a href="/gallery">Gallery</a></li>
            </ul>
        </nav>
        <h1>Works</h1>
        <div id="works">
            <h3>Zip2</h3>
<p>video icon Musk speaks of his early business experience during a 2014 commencement speech at USC on YouTube Later in 1995, Musk, his brother Kimbal, and Greg Kouri borrowed funds from Musk's father and founded Zip2.[21] The company developed an Internet city guide with maps, directions, yellow pages, and marketed it to newspapers.[41] They worked at a small rented office in Palo Alto,[42] with Musk coding the website in every night.[42] Eventually, Zip2 obtained contracts with The New York Times and the Chicago Tribune.[43][unreliable source?] The brothers persuaded the board of directors to abandon a merger with CitySearch,[44] however, Musk's attempts to become CEO himself were thwarted.[45] Compaq acquired Zip2 for $307 million in cash in February 1999,[46][47] and Musk received $22 million for his 7-percent share.[48]</p>

<h3>X.com and PayPal</h3>

<p>Later in 1999, Musk co-founded X.com, an online financial services and e-mail payment company.[49] X.com was one of the first federally insured online banks and over 200,000 customers joined after its initial months of operation.[50] Even though Musk founded the company, investors regarded him as inexperienced and replaced with Intuit CEO Bill Harris by the end of the year.[51]
In 2000, X.com merged with online bank Confinity to avoid competition[42][51][52] as Confinity's money-transfer service PayPal was more popular than X.com's service.[53] Musk then returned as CEO of the merged company. His preference for Microsoft over Unix-based software caused a rift among the company's employees and Peter Thiel, Confinity's founder, to resign.[54] In addition to compounding technological issues and a lack of a cohesive business model, the board ousted Musk and replaced him with Thiel in September 2000.[55][b] Under Thiel, the company focused on the money transfer service and renamed as PayPal in 2001.[57][58]
The next year, PayPal was acquired by eBay for $1.5 billion in stock, of which Musk—the largest shareholder with 11.72% of shares—received $175.8 million.[59][60] More than one and a half decades later, Musk purchased the domain X.com from PayPal in 2017 because of his personal sentimental value.[61][62]</p>

        </div>
    </div>
    <script src="/js/index.js"></script>
</body>
</html>